<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.lms_connect" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="LMS_Connect" android:theme="@style/MainTheme" android:icon="@mipmap/Play">
		<activity android:name=".MainActivity">
			<intent-filter android:label="Play on LMS" android:icon="@mipmap/Play">
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
    </activity>
  		<activity android:name="com.companyname.lms_connect.QueueActivity">
			<intent-filter android:label="Queu on LMS" android:icon="@mipmap/Add">
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
    </activity>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>